.tn-container {
    padding: 0.5rem 0;
    

}

.me-auto{
    font-size: 1rem;
    font-weight: 600;
    gap: 2rem;
}


.logo{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0.4rem;
    letter-spacing: 0.1rem;
    color: var(--color-dark);
    border-radius: var(--border-radius);
    margin-left: -4%;
}
 .logo1{
    width: 99px;
    margin-left: -50%;
    display: flex;
    image-resolution: 100%;
 }
.search-box{
    width: 555px;
    border: var(--border-2);
    border-radius: var(--border-radius-1);
    padding: 0.5rem 1rem;
    border-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: -6.9%;
}

.search-box input{
    width: 100%;
    display: block;
    font-weight: 500;
}

.search-icon{
    color: var(--color-dark);
    font-size: 1rem;
    cursor: pointer;
}

nav hr{
    background: var(--color-light);
    height: 0.05rem;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 0.5rem;
}

.bn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlist{
    display: flex;
    gap: 2.5rem;
    text-transform: capitalize;
    z-index: 111;
    padding: 0.5rem 0;
}
 .navlist li a{
    font-weight: 600;
    position: relative;
 }

