#hero{
    padding: 0 0 9rem;
}

.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.hero-left{
    position: relative;
    top: 11rem;
    
   
}

.hero-left p{
    margin: 1rem 0;
    font-weight: 500;
}

.hero-right>img{
    position: relative;
    top: 10rem;
}


@media screen and (max-width: 1024px) {
    .hero-container{
        grid-template-columns: 1fr;
        
    }
    

    .hero-left{
        margin-bottom: 20%;
    }
    .hero-right img{
        margin-bottom: -20%;
    }
  
    
}


@media screen and (max-width: 720px) {
 

    .hero-left{
        margin-bottom: 20%;
    }
    .hero-right {
        padding-bottom: 10px;
    }

 
}
