#hero{
    padding: 0 0 9rem;
}

.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.hero-left{
    position: relative;
    top: 11rem;
   
}

.hero-left p{
    margin: 1rem 0;
    font-weight: 500;
}

.hero-right>img{
    position: relative;
    top: 10rem;
}