.title{
    text-align: center;
    justify-content: center;
    margin-top: 12%;
}

.item-card{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 13rem;
  align-items: center;
  border-radius: 25px;
  padding: 9%;
}
.item-card img{
  background-size: cover;
  background-position: center;
  border: var(--border-2);
  border-radius: var(--border-radius-2);
  border-color: var(--color-secondary);
  padding: 7%;
  transform: 250ms;
  opacity: 400ms;
  transition: 100ms;
  margin-bottom: 10%;
}

.item-card img:hover{
  transform: scale(1.2);
  opacity: 20;
}
.headerr1{
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-secondary);
  color: var(--color-white);
  padding: .9rem 2.2rem;
  border-radius: var(--border-radius);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
 margin-bottom: -5%;
  margin-left: -1%;
}

.Description{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  background: var(--color-secondary);
  color: var(--color-white);
  padding: .9rem 0.5rem;
  border-radius: var(--border-radius-2);
  cursor: pointer;
  transition: var(--transition);
  font-size: 15px;
  
}
 .btn3{
  margin-left: 30%;
 }
 .services3{
  padding: 75px 5%;
  width: 100%;
  background: var(--color-secondary);
  text-align: center;
  margin-top: 99px;
}
.services3 h2{
  font-size: 2rem;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-top: -40px;
  color: white;
}

.banner3{
  color: rgb(208, 135, 0);
}

