.title{
    text-align: center;
    justify-content: center;
    margin-top: 12%;
}

.item-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13rem;
  align-items: center;
  border: 10%;
  

}
.item-card img{
  background-size: cover;
  background-position: center;
  border: var(--border-1);
  border-radius: var(--border-radius-2);
}

.item-card1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13rem;
  margin-top: 1%;

}

.item-card1 img{
  background-size: cover;
  background-position: center;
  border: var(--border-1);
  border-radius: var(--border-radius-2);
}

h3{
  margin-bottom: 8%;
  padding-left: 3%;
}


h4{
  padding-top: 10%;
  margin-bottom: 3%;
}